In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\claud\appdata\roaming\python\python310\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\claud\appdata\roaming\python\python310\site-packages (from sqlalchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import math


import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv(r'data_preprocess.csv')
df.head()

,File_path_dir,Disease_ID,Plant_name,Disease_name,Plant_img,Symptoms,Treatment,Health
0,Tomato___Spider_mites Two-spotted_spider_mite/...,34,Tomato,Spider_mites Two-spotted_spider_mite,image (984).JPG,Damage caused by two spotted spider mites. Thi...,Use selective products such as: bifenazate (Ac...,1
1,Potato___healthy/image (777).JPG,21,Potato,healthy,image (777).JPG,Affected leaves develop circular to angular da...,Early blight can be minimized by maintaining o...,1
2,Cherry___Powdery_mildew/image (506).JPG,6,Cherry,Powdery_mildew,image (506).JPG,"White to gray, powdery spots, blotches or felt...",Tolerate powdery mildew. Powdery mildew does n...,1
3,Tomato___Tomato_Yellow_Leaf_Curl_Virus/image (...,37,Tomato,Tomato_Yellow_Leaf_Curl_Virus,image (3635).JPG,general mottling or mosaic appearance on folia...,Plant resistant varieties when available or pu...,1
4,Tomato___healthy/image (1529).JPG,30,Tomato,healthy,image (1529).JPG,"Initially, small dark spots form on older foli...",Leaves that have early blight require immediat...,1

In [4]:
#import mysql.connector
import mysql.connector as mysqlConnector

In [5]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists,create_database
#Avec une BDD MySQL
conn = create_engine("mysql+mysqlconnector://root:"+'Vitry2022?'+"@localhost:3306/test",echo=True)

#conn.connect()

In [6]:
if not database_exists(conn.url):
    create_database(conn.url)
    
print(database_exists(conn.url))

True

In [7]:
df_traitement=pd.DataFrame(index=df.index, data=df['Treatment'])
df_traitement.index.name="traitement_id"
df_traitement

                                                       Treatment
traitement_id
0              Use selective products such as: bifenazate (Ac...
1              Early blight can be minimized by maintaining o...
2              Tolerate powdery mildew. Powdery mildew does n...
3              Plant resistant varieties when available or pu...
4              Leaves that have early blight require immediat...
...                                                          ...
60338          Inspect plants for whitefly infestations two t...
60339                                                    NO NEED
60340          Remove and destroy the fallen leaf litter so t...
60341          Preventative practices (delayed pruning, doubl...
60342          Plant resistant varieties when available or pu...

[60343 rows x 1 columns]

In [8]:
df_traitement.to_sql(con=conn, name='traitement', if_exists='replace', index=True)

2022-10-11 22:08:23,584 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-11 22:08:23,586 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:08:23,592 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-11 22:08:23,594 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:08:23,598 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-11 22:08:23,600 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:08:23,605 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-11 22:08:23,606 INFO sqlalchemy.engine.Engine [generated in 0.00192s] {'table_schema': 'test', 'table_name': 'traitement'}
2022-10-11 22:08:23,620 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:08:23,623 INFO sqlalchemy.engine.Engine
CREATE TABLE traitement (
	traitement_id BIGINT,
	`Treatment` TEXT
)


2022-10-11 22:08:23,625 INFO sqlalchemy.engine.Engine [no key 0.00214s] {}
2022-10-11 22:08:23,683 INFO sqlalchemy.engine.Engine CREATE INDEX ix_traitement_traitement_id ON traitement (traitement_id)
2022-10-11 22:08:23,684 INFO sqlalchemy.engine.Engine [no key 0.00163s] {}
2022-10-11 22:08:23,718 INFO sqlalchemy.engine.Engine COMMIT
2022-10-11 22:08:23,731 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:08:24,628 INFO sqlalchemy.engine.Engine INSERT INTO traitement (traitement_id, `Treatment`) VALUES (%(traitement_id)s, %(Treatment)s)
2022-10-11 22:08:24,632 INFO sqlalchemy.engine.Engine [generated in 0.83639s] ({'traitement_id': 0, 'Treatment': 'Use selective products such as: bifenazate (Acramite): Group UN, a long residual nerve poison. / abamectin (Agri-Mek): Group 6, derived from a soil bacterium. / spirotetramat (Movento): Group 23, mainly affects immature stages. / spiromesifen (Oberon 2SC): Group 23, mainly affects immature stages.'}, {'traitement_id': 1, 'Treatment': 'Early blight can be minimized by maintaining optimum growing conditions, including proper fertilization, irrigation, and management of other pests. G ... (2 characters truncated) ... w later maturing, longer season varieties. Fungicide application is justified only when the disease is initiated early enough to cause economic loss.'}, {'traitement_id': 2, 'Treatment': 'Tolerate powdery mildew. Powdery mildew does not significantly affect the health of the tree or shrub and does not require management. Do not overcro ... (81 characters truncated) ...  a soil test to correct a nutrient deficiency. Fertilizer will cause the tree to produce young shoots which are highly susceptible to powdery mildew.'}, {'traitement_id': 3, 'Treatment': 'Plant resistant varieties when available or purchase transplants from a reputable source or Remove all perennial weeds, using least-toxic herbicides, within 100 yards of your garden plot.'}, {'traitement_id': 4, 'Treatment': 'Leaves that have early blight require immediate attention before the disease takes over the plants. Thoroughly spray the plant (bottoms of leaves also) with Bonide Liquid Copper Fungicide concentrate or Bonide Tomato & Vegetable. Both of these treatments are organic.'}, {'traitement_id': 5, 'Treatment': 'NO NEED'}, {'traitement_id': 6, 'Treatment': 'NO NEED'}, {'traitement_id': 7, 'Treatment': 'NO NEED'}  ... displaying 10 of 60343 total bound parameter sets ...  {'traitement_id': 60341, 'Treatment': 'Preventative practices (delayed pruning, double pruning, and applications of pruning-wound protectants) are the most effective management approach. P ... (215 characters truncated) ...  using alternative materials, such as a wound sealant with 5% boric acid in acrylic paint (Tech-Gro B-Lock), or an essential oil (Safecoat VitiSeal).'}, {'traitement_id': 60342, 'Treatment': 'Plant resistant varieties when available or purchase transplants from a reputable source or Remove all perennial weeds, using least-toxic herbicides, within 100 yards of your garden plot.'})
2022-10-11 22:08:46,253 INFO sqlalchemy.engine.Engine COMMIT

60343

In [9]:
sql='''ALTER TABLE test.traitement 
CHANGE COLUMN traitement_id 
traitement_id BIGINT UNIQUE ;
'''
with conn.connect() as con:
    con.execute(sql)

2022-10-11 22:08:46,734 INFO sqlalchemy.engine.Engine ALTER TABLE test.traitement
CHANGE COLUMN traitement_id
traitement_id BIGINT UNIQUE ;

2022-10-11 22:08:46,738 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:08:47,118 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
sql_kp= '''ALTER TABLE `test`.`traitement` 
CHANGE COLUMN `traitement_id` `traitement_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`traitement_id`);
;
'''
with conn.connect() as con:
    con.execute(sql_kp)

2022-10-11 22:08:47,293 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`traitement`
CHANGE COLUMN `traitement_id` `traitement_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`traitement_id`);
;

2022-10-11 22:08:47,294 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:08:49,543 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
df_symptomes=pd.DataFrame(index=df.index, data=df['Symptoms'])
df_symptomes.index.name="symptomes_id"
df_symptomes

                                                       Symptoms
symptomes_id
0             Damage caused by two spotted spider mites. Thi...
1             Affected leaves develop circular to angular da...
2             White to gray, powdery spots, blotches or felt...
3             general mottling or mosaic appearance on folia...
4             Initially, small dark spots form on older foli...
...                                                         ...
60338         small leaves that become yellow between the ve...
60339                                                NO DISEASE
60340         Olive-green to black velvety spots, yellowing,...
60341          interveinal "striping" that dries and become ...
60342         general mottling or mosaic appearance on folia...

[60343 rows x 1 columns]

In [12]:
df_symptomes.to_sql(con=conn, name='symptomes', if_exists='replace', index=True)

2022-10-11 22:08:49,804 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-11 22:08:49,806 INFO sqlalchemy.engine.Engine [cached since 26.2s ago] {'table_schema': 'test', 'table_name': 'symptomes'}
2022-10-11 22:08:49,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:08:49,817 INFO sqlalchemy.engine.Engine
CREATE TABLE symptomes (
	symptomes_id BIGINT,
	`Symptoms` TEXT
)


2022-10-11 22:08:49,818 INFO sqlalchemy.engine.Engine [no key 0.00213s] {}
2022-10-11 22:08:49,862 INFO sqlalchemy.engine.Engine CREATE INDEX ix_symptomes_symptomes_id ON symptomes (symptomes_id)
2022-10-11 22:08:49,864 INFO sqlalchemy.engine.Engine [no key 0.00250s] {}
2022-10-11 22:08:49,898 INFO sqlalchemy.engine.Engine COMMIT
2022-10-11 22:08:49,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:08:50,432 INFO sqlalchemy.engine.Engine INSERT INTO symptomes (symptomes_id, `Symptoms`) VALUES (%(symptomes_id)s, %(Symptoms)s)
2022-10-11 22:08:50,435 INFO sqlalchemy.engine.Engine [generated in 0.46327s] ({'symptomes_id': 0, 'Symptoms': 'Damage caused by two spotted spider mites. This injury produces tiny white or yellow spots, giving leaves and needles a stippled or mottled appearance. As feeding becomes more severe, plants look bronzed or bleached and leaves may drop.'}, {'symptomes_id': 1, 'Symptoms': 'Affected leaves develop circular to angular dark brown lesions 0.12 to 0.16 inch (3–4 mm) in diameter. Concentric rings often form in lesions to produce characteristic target-board effect. Severely infected leaves turn yellow and drop.'}, {'symptomes_id': 2, 'Symptoms': 'White to gray, powdery spots, blotches or felt-like mats form on leaves'}, {'symptomes_id': 3, 'Symptoms': 'general mottling or mosaic appearance on foliage. When the plant is severely affected, leaves may look akin to ferns with raised dark green regions. Leaves may also become stunted'}, {'symptomes_id': 4, 'Symptoms': 'Initially, small dark spots form on older foliage near the ground. Larger spots have target-like concentric rings. Severely infected leaves turn brown and fall off, or dead, dried leaves may cling to the stem.'}, {'symptomes_id': 5, 'Symptoms': 'NO DISEASE'}, {'symptomes_id': 6, 'Symptoms': 'NO DISEASE'}, {'symptomes_id': 7, 'Symptoms': 'NO DISEASE'}  ... displaying 10 of 60343 total bound parameter sets ...  {'symptomes_id': 60341, 'Symptoms': ' interveinal "striping" that dries and become necrotic. Symptomatic leaves can dry completely and drop prematurely'}, {'symptomes_id': 60342, 'Symptoms': 'general mottling or mosaic appearance on foliage. When the plant is severely affected, leaves may look akin to ferns with raised dark green regions. Leaves may also become stunted'})
2022-10-11 22:09:11,688 INFO sqlalchemy.engine.Engine COMMIT

60343

In [13]:
sql='''ALTER TABLE test.symptomes 
CHANGE COLUMN symptomes_id 
symptomes_id BIGINT UNIQUE ;
'''
with conn.connect() as con:
    con.execute(sql)

2022-10-11 22:09:12,145 INFO sqlalchemy.engine.Engine ALTER TABLE test.symptomes
CHANGE COLUMN symptomes_id
symptomes_id BIGINT UNIQUE ;

2022-10-11 22:09:12,148 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:09:12,500 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
sql1='''ALTER TABLE `test`.`symptomes` 
CHANGE COLUMN `symptomes_id` `symptomes_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`symptomes_id`);
;'''
with conn.connect() as con:
    con.execute(sql1)

2022-10-11 22:09:12,659 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`symptomes`
CHANGE COLUMN `symptomes_id` `symptomes_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`symptomes_id`);
;
2022-10-11 22:09:12,661 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:09:14,700 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
df_images=pd.DataFrame(index=df.index, data=df[['Plant_img', 'File_path_dir']])
df_images.index.name="image_id"
df_images

                 Plant_img                                      File_path_dir
image_id
0          image (984).JPG  Tomato___Spider_mites Two-spotted_spider_mite/...
1          image (777).JPG                   Potato___healthy/image (777).JPG
2          image (506).JPG            Cherry___Powdery_mildew/image (506).JPG
3         image (3635).JPG  Tomato___Tomato_Yellow_Leaf_Curl_Virus/image (...
4         image (1529).JPG                  Tomato___healthy/image (1529).JPG
...                    ...                                                ...
60338       image (42).JPG        Tomato___Tomato_mosaic_virus/image (42).JPG
60339     image (1533).JPG           Squash___Powdery_mildew/image (1533).JPG
60340      image (873).JPG                 Apple___Apple_scab/image (873).JPG
60341       image (71).JPG                     Grape___healthy/image (71).JPG
60342     image (2291).JPG  Tomato___Tomato_Yellow_Leaf_Curl_Virus/image (...

[60343 rows x 2 columns]

In [16]:
df_images.to_sql(con=conn, name='images', if_exists='replace', index=True)

2022-10-11 22:09:15,024 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-11 22:09:15,025 INFO sqlalchemy.engine.Engine [cached since 51.42s ago] {'table_schema': 'test', 'table_name': 'images'}
2022-10-11 22:09:15,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:09:15,034 INFO sqlalchemy.engine.Engine
CREATE TABLE images (
	image_id BIGINT,
	`Plant_img` TEXT,
	`File_path_dir` TEXT
)


2022-10-11 22:09:15,036 INFO sqlalchemy.engine.Engine [no key 0.00244s] {}
2022-10-11 22:09:15,074 INFO sqlalchemy.engine.Engine CREATE INDEX ix_images_image_id ON images (image_id)
2022-10-11 22:09:15,076 INFO sqlalchemy.engine.Engine [no key 0.00203s] {}
2022-10-11 22:09:15,112 INFO sqlalchemy.engine.Engine COMMIT
2022-10-11 22:09:15,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:09:15,754 INFO sqlalchemy.engine.Engine INSERT INTO images (image_id, `Plant_img`, `File_path_dir`) VALUES (%(image_id)s, %(Plant_img)s, %(File_path_dir)s)
2022-10-11 22:09:15,756 INFO sqlalchemy.engine.Engine [generated in 0.53291s] ({'image_id': 0, 'Plant_img': 'image (984).JPG', 'File_path_dir': 'Tomato___Spider_mites Two-spotted_spider_mite/image (984).JPG'}, {'image_id': 1, 'Plant_img': 'image (777).JPG', 'File_path_dir': 'Potato___healthy/image (777).JPG'}, {'image_id': 2, 'Plant_img': 'image (506).JPG', 'File_path_dir': 'Cherry___Powdery_mildew/image (506).JPG'}, {'image_id': 3, 'Plant_img': 'image (3635).JPG', 'File_path_dir': 'Tomato___Tomato_Yellow_Leaf_Curl_Virus/image (3635).JPG'}, {'image_id': 4, 'Plant_img': 'image (1529).JPG', 'File_path_dir': 'Tomato___healthy/image (1529).JPG'}, {'image_id': 5, 'Plant_img': 'image (3594).JPG', 'File_path_dir': 'Orange___Haunglongbing_(Citrus_greening)/image (3594).JPG'}, {'image_id': 6, 'Plant_img': 'image (1627).JPG', 'File_path_dir': 'Apple___healthy/image (1627).JPG'}, {'image_id': 7, 'Plant_img': 'image (837).JPG', 'File_path_dir': 'Corn___Cercospora_leaf_spot Gray_leaf_spot/image (837).JPG'}  ... displaying 10 of 60343 total bound parameter sets ...  {'image_id': 60341, 'Plant_img': 'image (71).JPG', 'File_path_dir': 'Grape___healthy/image (71).JPG'}, {'image_id': 60342, 'Plant_img': 'image (2291).JPG', 'File_path_dir': 'Tomato___Tomato_Yellow_Leaf_Curl_Virus/image (2291).JPG'})
2022-10-11 22:09:43,129 INFO sqlalchemy.engine.Engine COMMIT

60343

In [17]:
sql='''ALTER TABLE test.images 
CHANGE COLUMN image_id 
image_id BIGINT UNIQUE ;
'''
with conn.connect() as con:
    con.execute(sql)

2022-10-11 22:09:43,331 INFO sqlalchemy.engine.Engine ALTER TABLE test.images
CHANGE COLUMN image_id
image_id BIGINT UNIQUE ;

2022-10-11 22:09:43,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:09:43,659 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
sql_kp= '''ALTER TABLE `test`.`images` 
CHANGE COLUMN `image_id` `image_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`image_id`);
;
'''
with conn.connect() as con:
    con.execute(sql_kp)

2022-10-11 22:09:43,750 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`images`
CHANGE COLUMN `image_id` `image_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`image_id`);
;

2022-10-11 22:09:43,753 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:09:45,220 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
df_maladie=pd.DataFrame(index=df.index, data=df[['Disease_name', 'Health']])
df_maladie.index.name="maladie_id"

df_maladie

                                    Disease_name  Health
maladie_id
0           Spider_mites Two-spotted_spider_mite       1
1                                        healthy       1
2                                 Powdery_mildew       1
3                  Tomato_Yellow_Leaf_Curl_Virus       1
4                                        healthy       1
...                                          ...     ...
60338                        Tomato_mosaic_virus       1
60339                             Powdery_mildew       0
60340                                 Apple_scab       1
60341                                    healthy       1
60342              Tomato_Yellow_Leaf_Curl_Virus       1

[60343 rows x 2 columns]

In [20]:
df_maladie.to_sql(con=conn, name='maladie', if_exists='replace', index=True)

2022-10-11 22:09:45,519 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-11 22:09:45,521 INFO sqlalchemy.engine.Engine [cached since 81.92s ago] {'table_schema': 'test', 'table_name': 'maladie'}
2022-10-11 22:09:45,529 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:09:45,534 INFO sqlalchemy.engine.Engine
CREATE TABLE maladie (
	maladie_id BIGINT,
	`Disease_name` TEXT,
	`Health` BIGINT
)


2022-10-11 22:09:45,537 INFO sqlalchemy.engine.Engine [no key 0.00333s] {}
2022-10-11 22:09:45,580 INFO sqlalchemy.engine.Engine CREATE INDEX ix_maladie_maladie_id ON maladie (maladie_id)
2022-10-11 22:09:45,582 INFO sqlalchemy.engine.Engine [no key 0.00288s] {}
2022-10-11 22:09:45,618 INFO sqlalchemy.engine.Engine COMMIT
2022-10-11 22:09:45,630 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:09:46,158 INFO sqlalchemy.engine.Engine INSERT INTO maladie (maladie_id, `Disease_name`, `Health`) VALUES (%(maladie_id)s, %(Disease_name)s, %(Health)s)
2022-10-11 22:09:46,160 INFO sqlalchemy.engine.Engine [generated in 0.47613s] ({'maladie_id': 0, 'Disease_name': 'Spider_mites Two-spotted_spider_mite', 'Health': 1}, {'maladie_id': 1, 'Disease_name': 'healthy', 'Health': 1}, {'maladie_id': 2, 'Disease_name': 'Powdery_mildew', 'Health': 1}, {'maladie_id': 3, 'Disease_name': 'Tomato_Yellow_Leaf_Curl_Virus', 'Health': 1}, {'maladie_id': 4, 'Disease_name': 'healthy', 'Health': 1}, {'maladie_id': 5, 'Disease_name': 'Haunglongbing_(Citrus_greening)', 'Health': 0}, {'maladie_id': 6, 'Disease_name': 'healthy', 'Health': 0}, {'maladie_id': 7, 'Disease_name': 'Cercospora_leaf_spot Gray_leaf_spot', 'Health': 0}  ... displaying 10 of 60343 total bound parameter sets ...  {'maladie_id': 60341, 'Disease_name': 'healthy', 'Health': 1}, {'maladie_id': 60342, 'Disease_name': 'Tomato_Yellow_Leaf_Curl_Virus', 'Health': 1})
2022-10-11 22:10:06,584 INFO sqlalchemy.engine.Engine COMMIT

60343

In [21]:
sql='''ALTER TABLE test.maladie
CHANGE COLUMN maladie_id 
maladie_id BIGINT UNIQUE ;
'''
with conn.connect() as con:
    con.execute(sql)

2022-10-11 22:10:06,949 INFO sqlalchemy.engine.Engine ALTER TABLE test.maladie
CHANGE COLUMN maladie_id
maladie_id BIGINT UNIQUE ;

2022-10-11 22:10:06,951 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:10:07,271 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
sql_kp= '''ALTER TABLE `test`.`maladie` 
CHANGE COLUMN `maladie_id` `maladie_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`maladie_id`);
;
'''
with conn.connect() as con:
    con.execute(sql_kp)

2022-10-11 22:10:07,407 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`maladie`
CHANGE COLUMN `maladie_id` `maladie_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`maladie_id`);
;

2022-10-11 22:10:07,409 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:10:08,539 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
sql_fk= '''ALTER TABLE `test`.`maladie` 
ADD CONSTRAINT `symptomes_id`
  FOREIGN KEY (`maladie_id`)
  REFERENCES `test`.`symptomes` (`symptomes_id`)
  ON DELETE NO ACTION
  ON UPDATE CASCADE,

ADD CONSTRAINT `traitement_id`
  FOREIGN KEY (`maladie_id`)
  REFERENCES `test`.`traitement` (`traitement_id`)
  ON DELETE NO ACTION
  ;'''
with conn.connect() as con:
    con.execute(sql_fk)

2022-10-11 22:10:08,673 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`maladie`
ADD CONSTRAINT `symptomes_id`
  FOREIGN KEY (`maladie_id`)
  REFERENCES `test`.`symptomes` (`symptomes_id`)
  ON DELETE NO ACTION
  ON UPDATE CASCADE,

ADD CONSTRAINT `traitement_id`
  FOREIGN KEY (`maladie_id`)
  REFERENCES `test`.`traitement` (`traitement_id`)
  ON DELETE NO ACTION
  ;
2022-10-11 22:10:08,675 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:10:11,431 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
df_plant=pd.DataFrame(index=df.index, data=df['Plant_name'])
df_plant.index.name="plant_id"
df_plant

         Plant_name
plant_id
0            Tomato
1            Potato
2            Cherry
3            Tomato
4            Tomato
...             ...
60338        Tomato
60339        Squash
60340         Apple
60341         Grape
60342        Tomato

[60343 rows x 1 columns]

In [25]:
df_plant.to_sql(con=conn, name='plant', if_exists='replace', index=True)

2022-10-11 22:10:11,764 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-11 22:10:11,766 INFO sqlalchemy.engine.Engine [cached since 108.2s ago] {'table_schema': 'test', 'table_name': 'plant'}
2022-10-11 22:10:11,777 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:10:11,780 INFO sqlalchemy.engine.Engine
CREATE TABLE plant (
	plant_id BIGINT,
	`Plant_name` TEXT
)


2022-10-11 22:10:11,783 INFO sqlalchemy.engine.Engine [no key 0.00363s] {}
2022-10-11 22:10:11,827 INFO sqlalchemy.engine.Engine CREATE INDEX ix_plant_plant_id ON plant (plant_id)
2022-10-11 22:10:11,828 INFO sqlalchemy.engine.Engine [no key 0.00153s] {}
2022-10-11 22:10:11,859 INFO sqlalchemy.engine.Engine COMMIT
2022-10-11 22:10:11,871 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-11 22:10:12,614 INFO sqlalchemy.engine.Engine INSERT INTO plant (plant_id, `Plant_name`) VALUES (%(plant_id)s, %(Plant_name)s)
2022-10-11 22:10:12,619 INFO sqlalchemy.engine.Engine [generated in 0.68485s] ({'plant_id': 0, 'Plant_name': 'Tomato'}, {'plant_id': 1, 'Plant_name': 'Potato'}, {'plant_id': 2, 'Plant_name': 'Cherry'}, {'plant_id': 3, 'Plant_name': 'Tomato'}, {'plant_id': 4, 'Plant_name': 'Tomato'}, {'plant_id': 5, 'Plant_name': 'Orange'}, {'plant_id': 6, 'Plant_name': 'Apple'}, {'plant_id': 7, 'Plant_name': 'Corn'}  ... displaying 10 of 60343 total bound parameter sets ...  {'plant_id': 60341, 'Plant_name': 'Grape'}, {'plant_id': 60342, 'Plant_name': 'Tomato'})
2022-10-11 22:10:33,708 INFO sqlalchemy.engine.Engine COMMIT

60343

In [26]:
sql='''ALTER TABLE test.plant 
CHANGE COLUMN plant_id 
plant_id BIGINT UNIQUE ;
'''
with conn.connect() as con:
    con.execute(sql)

2022-10-11 22:10:33,911 INFO sqlalchemy.engine.Engine ALTER TABLE test.plant
CHANGE COLUMN plant_id
plant_id BIGINT UNIQUE ;

2022-10-11 22:10:33,913 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:10:34,245 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
sql_kp= '''ALTER TABLE `test`.`plant` 
CHANGE COLUMN `plant_id` `plant_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`plant_id`);
;
'''
with conn.connect() as con:
    con.execute(sql_kp)

2022-10-11 22:10:34,356 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`plant`
CHANGE COLUMN `plant_id` `plant_id` BIGINT NOT NULL ,
ADD PRIMARY KEY (`plant_id`);
;

2022-10-11 22:10:34,359 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:10:35,331 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
sql_fk= '''ALTER TABLE `test`.`plant` 
ADD CONSTRAINT `maladie_id`
  FOREIGN KEY (`plant_id`)
  REFERENCES `test`.`maladie` (`maladie_id`)
  ON DELETE NO ACTION
  ON UPDATE CASCADE,
ADD CONSTRAINT `image_id`
  FOREIGN KEY (`plant_id`)
  REFERENCES `test`.`images` (`image_id`)
  ON DELETE NO ACTION
  ON UPDATE CASCADE;'''
with conn.connect() as con:
    con.execute(sql_fk)

2022-10-11 22:10:35,427 INFO sqlalchemy.engine.Engine ALTER TABLE `test`.`plant`
ADD CONSTRAINT `maladie_id`
  FOREIGN KEY (`plant_id`)
  REFERENCES `test`.`maladie` (`maladie_id`)
  ON DELETE NO ACTION
  ON UPDATE CASCADE,
ADD CONSTRAINT `image_id`
  FOREIGN KEY (`plant_id`)
  REFERENCES `test`.`images` (`image_id`)
  ON DELETE NO ACTION
  ON UPDATE CASCADE;
2022-10-11 22:10:35,429 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-11 22:10:37,627 INFO sqlalchemy.engine.Engine COMMIT